mat-sidenav{
  width: 264px;
  background-color: #025C2F;
  border: none;
  color: white;
}

mat-sidenav-content
{
  background-color: white;
  height: 100vh;
}
.img_logo{
  /* Layout Properties */
  position: relative;
  top: 30px;
  left: 98px;
  width: 68px;
  height: 67px;
  opacity: 1;
}
.geswal{
  text-align: left;
  position: relative;
  width: 264px;
  height: 60px;
  top: 90px;
  line-height: 60px;
}
.icon{
  margin-left: 10px;
}
.lgeswal{
  padding-left: 10px;
  width: 114px;
  height: 21px;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 18px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.encours{
  display: block;
}
.terminer{
  display: none;
}
mat-sidenav ul{
  position: relative;
  width: 264px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  list-style-type: none;
}
mat-sidenav ul li{
  margin-left: 17.5px;
  top: 491px;
  width: auto;
  height: auto;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
mat-sidenav ul li:hover{
  background-color: green;
}
.iconUser{
  margin-left:15px;
  top: 96px;
  width: 31px;
  height: 31px;
}
.operation{
  display: inline-flex;
  margin-top: 10px;
  margin-left: 50px;
  left: 40px;
  width: 268px;
  height: 100px;

  /* UI Properties */

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #0000001A;
  border-radius: 7px;
  opacity: 1;

  /* UI Properties */
  border-radius: 8px;
}
.iconMenu{
  position: relative;
  top: 5px;
  left: 10px;
  opacity: 1;
  width: 44px;
  height: 44px;

}
.lmenu{
  position: relative;
  top: 0px;
  left: 20px;
  text-align: left;
  font: normal normal medium 10px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.lmenu1{
  position: relative;
  top: 5px;
  font-size: 25px;
  left: 20px;
  opacity: 1;
  text-align: left;
  font: normal normal medium 25px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.lmenus1{
  float: right;
  position: relative;
  top: 20px;
  left: 30px;
  width: 129px;
  height: 17px;
  text-align: right;
  font: normal normal medium 14px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #343A40;
  opacity: 1;
}
.lmenus2{
  float: right;
  position: relative;
  top: 28px;
  left: 20px;
  width: auto;
  height: 17px;
  text-align: right;
  letter-spacing: 0px;
  text-align: right;
  font: normal normal 300 10px/30px Helvetica Neue;
  color: #343A40;
  opacity: 1;
}
.actif{
  /* Layout Properties */
  position: relative;
  border-radius: 50%;
  top: 55px;
  left: -20px;
  width: 10px;
  height: 10px;
  background: #008844 0% 0% no-repeat padding-box;
  opacity: 1;
}
.inactif{
  /* Layout Properties */
  position: relative;
  border-radius: 50%;
  top: 55px;
  left: -20px;
  width: 10px;
  height: 10px;
  background: #B6B6B6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.Vplus{
  position: relative;
  top: 85px;
  left: 15px;
  width: 28px;
  height: 28px;
  opacity: 1;
}

.principal{
  position: relative;
  top: 60px;
  left: 50px;
  width: 229px;
  height: 237px;
  background: #F8F9FA 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}
.img{
  /* Layout Properties */
  top: 30%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  width: 120px;
  height: 120px;

  /* UI Properties */

  border: 1px solid #B4B6B9;
  opacity: 1;
}
.username{
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  width: auto;
  height: 22px;

  /* UI Properties */

  text-align: left;
  font: normal normal medium 18px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #343A40;
  opacity: 1;
}
.infouser{
  display: inline-flex;
  height: 37.4px;
}
.userrole{

    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    width: auto;
    height: 22px;

    /* UI Properties */

    text-align: left;
    font: normal normal medium 18px/30px Helvetica Neue;
    letter-spacing: 0px;
    color: #343A40;
    opacity: 1;

}
.information{/* Layout Properties */
position: relative;
top: 60px;
left: 80px;
width: 743px;
height: 237px;

/* UI Properties */

background: #F8F9FA 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.usernameedit{
  position: relative;
  top: 12px;
  width: 300px;
  height: 18px;

  /* UI Properties */

  text-align: left;
  font: normal normal 300 15px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: #343A40;
  opacity: 1;
}
.iconuser{
  position: relative;
  top: 14px;
  left: -10px;
  width: 16px;
  height: 18px;

  /* UI Properties */
  opacity: 1;
}
.iconuseredit{
  /* Layout Properties */
  position: relative;
  top:10px;
  width: 25px;
  height: 25px;

  /* UI Properties */
  opacity: 1;
}
.buttonedit{
  position: relative;
  top: 100px;
  left: 25px;
  width: 230px;
  height: 55px;

  /* UI Properties */
  border: 1px solid #008844;
  opacity: 1;
}
.modifier{
  display: block;
}
.terminer{
  display: none;
}
.encours{
  display: block;
}
.terminer{
  display: none;
}
.row{
  position: relative;
  top: 13px;
  left: 30px;
  width: 1002px;
  height: 750px;

  /* UI Properties */

  background: #F8F9FA 0% 0% no-repeat padding-box;
  opacity: 1;
}
.bilan{
  /* UI Properties */
  position: relative;
  top: 30px;
  left: 20px;
  width: 1002px;
  height: 70px;
  background: transparent linear-gradient(266deg, #025C2F 0%, #008844 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  display: inline-flex;
  opacity: 1;
}
.graphe{
  position: relative;
  top: 30px;
  left: 20px;
  width: 1002px;
  height: 268px;

  /* UI Properties */

  background: #F8F9FA 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

.google-visualization-tooltip {
  width: 200px !important;
  border: none !important;
  border-radius: 21px !important;
  background-color: rgb(30, 50, 230) !important;
  position: absolute !important;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75) !important;
  background: -moz-linear-gradient(
    30deg,
    rgb(30, 50, 230) 30%,
    rgb(90, 140, 250) 70%
  ) !important;
  background: -webkit-linear-gradient(
    30deg,
    rgb(30, 50, 230) 30%,
    rgb(90, 140, 250) 70%
  ) !important;
  background: -o-linear-gradient(
    30deg,
    rgb(30, 50, 230) 30%,
    rgb(90, 140, 250) 70%
  ) !important;
  background: -ms-linear-gradient(
    30deg,
    rgb(30, 50, 230) 30%,
    rgb(90, 140, 250) 70%
  ) !important;
  background: linear-gradient(
    120deg,
    rgb(30, 50, 230) 30%,
    rgb(90, 140, 250) 70%
  ) !important;
  font-size: 10px !important;
}
